* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #c8dfb1;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: rgb(48, 62, 57);
}

.container {
    width: 95%;
    max-width: 1700px;
    margin: 40px auto;
    background: rgb(151, 194, 180);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.judul {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    margin: 5px;
    padding: 10px 60px;
    background: #007BFF;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    background: #4e7cb1;
}

/* SECTION */
.section {
    text-align: center;
}

img {
    border-radius: 15px;
    margin-top: 10px;
}

audio {
    margin-top: 10px;
}

p {
    text-align: justify;
}

.lirik-box {
    background-color: #5fad66;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #464b05;
    max-width: 1000px;
    text-align: center;
    line-height: 1.7;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0 40px 10px rgba(0,0,0,0.1);
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 2px solid #ccc;
}

.audio-lainnya {
    text-align: center;
    margin-top: 20px;
}

.audio-lainnya a {
    display: inline-block;
    margin: 5px;
    padding: 10px 22px;
    background: #007BFF;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.audio-lainnya a:hover {
    background: #4e7cb1;
}

small {
    display: block;
    margin-top: 10px;
}

.container {
    transition: 0.3s;
}

.container:hover {
    transform: scale(1.01);
}

footer {
    display: flex;
    justify-content: center; 
    gap: 200px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;  
    background: #333; 
    color: #fff; 
    margin-top: 20px; 
}

footer p {
    margin: 0;
}
